# Maximum residue analysis

This notebooks presents an analysis to identify the maximum residue present by hexagon in the hydrological watershed for the Arroyo Vivo project. For the quantification of the number of residue is taken into account in each hexagon.

## Import libraries

In [1]:
import os
import sys

import geopandas as gpd
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

module_path = os.path.abspath(os.path.join('../../'))
if module_path not in sys.path:
    sys.path.append(module_path)
    import aup

/home/vscode/anaconda3/envs/odc/lib/python3.10/site-packages/osmnx/utils.py:192: UserWarning: The `utils.config` function is deprecated and will be removed in a future release. Instead, use the `settings` module directly to configure a global setting's value. For example, `ox.settings.log_console=True`.
  warnings.warn(

## Import files

Residue data

In [4]:
res_gdf = gpd.read_file('../../data/processed/arroyo_vivo/residuos_arroyovivo_v3_32614.gpkg')
print(res_gdf.shape)
res_gdf.head(2)

(16634, 9)

,itemname,tipo,material,quantity,latitude,longitude,altitude,data_origin,geometry
0,Latas de aluminio o estaño,None,Aluminio,11,25.644154,-100.310618,627.104902,9 de enero.csv,POINT (368436.536 2836928.414)
1,Latas de aluminio o estaño,None,Aluminio,20,25.640925,-100.309352,583.488804,9 de enero.csv,POINT (368560.128 2836569.554)

Study area

In [5]:
hex_gdf = gpd.read_file('../../data/processed/arroyo_vivo/AreaEscurrimiento_HexRes10_OdC23_UTM_v1.geojson')
print(hex_gdf.shape)
hex_gdf.head(2)

(1400, 6)

,hex_id_10,CVEGEO,NOMGEO,city,type,geometry
0,8a48a2074127fff,19019,San Pedro Garza García,Monterrey,urban,"POLYGON ((366283.533 2836598.177, 366352.081 2..."
1,8a48a2074727fff,19019,San Pedro Garza García,Monterrey,urban,"POLYGON ((366726.012 2837495.137, 366794.558 2..."

## Spatial analysis

Spatial join

In [7]:
res_hex = res_gdf.sjoin(hex_gdf[['hex_id_10','geometry']])
print(res_hex.shape)
res_hex.head(2)

(16244, 11)

,itemname,tipo,material,quantity,latitude,longitude,altitude,data_origin,geometry,index_right,hex_id_10
0,Latas de aluminio o estaño,None,Aluminio,11,25.644154,-100.310618,627.104902,9 de enero.csv,POINT (368436.536 2836928.414),1011,8a48a2076917fff
64,Papel de aluminio,None,Aluminio,6,25.644065,-100.310389,634.796484,9 de enero.csv,POINT (368459.459 2836918.325),1011,8a48a2076917fff

Mode equal weights

In [12]:
res_max = res_hex.groupby(['hex_id_10'])['material'].agg(pd.Series.mode).to_frame()
res_max.reset_index(inplace=True)
print(res_max.shape)
res_max.head(2)

(143, 2)

         hex_id_10  material
0  8a48a200ca67fff  Plastico
1  8a48a200ca6ffff  Plastico

Mode quantity weigths