In [1]:
import os
import sys

import pandas as pd
import geopandas as gpd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import colors
import seaborn as sns

from pandas.api.types import CategoricalDtype

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

module_path = os.path.abspath(os.path.join('../../'))
if module_path not in sys.path:
    sys.path.append(module_path)
    import aup

/usr/local/python/lib/python3.10/site-packages/osmnx/utils.py:192: UserWarning: The `utils.config` function is deprecated and will be removed in a future release. Instead, use the `settings` module directly to configure a global setting's value. For example, `ox.settings.log_console=True`.
  warnings.warn(

In [20]:
# Load data
sociodemografico_cuenca = pd.read_csv(f'../../data/external/temporal_fromjupyter/arroyo_vivo/censoanalysis_for_arroyovivo_cuenca.csv')
sociodemografico_cuenca.drop(columns='Unnamed: 0',inplace=True)

# Show
print(sociodemografico_cuenca.shape)
sociodemografico_cuenca.head(2)

(74, 4)

  indicador      data      wgt_%  weight
0    POBTOT  104048.0        NaN     NaN
1    POBFEM   52327.0  50.291212  POBTOT

In [21]:
sociodemografico_poligono = pd.read_csv(f'../../data/external/temporal_fromjupyter/arroyo_vivo/censoanalysis_for_poligono_arroyovivo.csv')
sociodemografico_poligono.drop(columns='Unnamed: 0',inplace=True)

# Show
print(sociodemografico_poligono.shape)
sociodemografico_poligono.head(2)

(74, 4)

  indicador     data      wgt_%  weight
0    POBTOT  97554.0        NaN     NaN
1    POBFEM  49160.0  50.392603  POBTOT

In [22]:
sociodemografico_buffer = pd.read_csv(f'../../data/external/temporal_fromjupyter/arroyo_vivo/censoanalysis_for_buffer_200mts.csv')
sociodemografico_buffer.drop(columns='Unnamed: 0',inplace=True)

# Show
print(sociodemografico_buffer.shape)
sociodemografico_buffer.head(2)

(74, 4)

  indicador     data      wgt_%  weight
0    POBTOT  40524.0        NaN     NaN
1    POBFEM  20489.0  50.560162  POBTOT

In [26]:
merged1 = sociodemografico_cuenca.merge(sociodemografico_poligono[['indicador','data','wgt_%']], on='indicador')
merged1

merged2 = merged1.merge(sociodemografico_buffer[['indicador','data','wgt_%']],on='indicador')
merged2

,indicador,data_x,wgt_%_x,weight,data_y,wgt_%_y,data,wgt_%
0,POBTOT,104048.0,NaN,NaN,97554.0,NaN,40524.0,NaN
1,POBFEM,52327.0,50.291212,POBTOT,49160.0,50.392603,20489.0,50.560162
2,POBMAS,51150.0,49.160003,POBTOT,47826.0,49.025155,19955.0,49.242424
3,P_0A2,2781.0,2.672805,POBTOT,2466.0,2.527831,1200.0,2.961208
4,P_0A2_F,1023.0,1.955014,POBFEM,911.0,1.853133,489.0,2.386646
...,...,...,...,...,...,...,...,...
69,VPH_AUTOM,20949.0,69.806731,TVIVPARHAB,21194.0,71.319447,8531.0,70.837831
70,VPH_MOTO,1321.0,4.401866,TVIVPARHAB,1211.0,4.075109,517.0,4.292950
71,VPH_BICI,1746.0,5.818061,TVIVPARHAB,1650.0,5.552377,749.0,6.219381
72,VPH_INTER,24860.0,82.839054,TVIVPARHAB,25020.0,84.194232,9963.0,82.728556
73,VPH_SINTIC,22.0,0.073309,TVIVPARHAB,25.0,0.084127,7.0,0.058125