In [1]:
import os
import sys

import pandas as pd
import geopandas as gpd
import osmnx as ox
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

module_path = os.path.abspath(os.path.join('../../'))
if module_path not in sys.path:
    sys.path.append(module_path)
    import aup

/usr/local/python/lib/python3.10/site-packages/osmnx/utils.py:192: UserWarning: The `utils.config` function is deprecated and will be removed in a future release. Instead, use the `settings` module directly to configure a global setting's value. For example, `ox.settings.log_console=True`.
  warnings.warn(

In [2]:
#Folder names from database
#prox_schema = 'prox_analysis'
#prox_table = 'proximityanalysis_hexres9'

#query = f"SELECT * FROM {prox_schema}.{prox_table}"
#prox_all = aup.gdf_from_query(query, geometry_col='geometry')

#print(prox_all.shape)
#prox_all.head(2)

In [3]:
prox_all = gpd.read_file("../../data/external/temporal_fromjupyter/proximityanalysis_hexres9.gpkg")

print(prox_all.shape)
prox_all.head(2)

(34061, 41)

,hex_id_9,max_escuelas,max_preescolar,max_primaria,max_secundaria,max_servicios comunitarios,max_salud,max_guarderías,max_asistencia social,max_comercio,...,idx_actividad física,idx_cultural,mean_time,median_time,max_time,idx_sum,pobtot,dens_pobha,city,geometry
0,894983c8437ffff,10.757196,3.441271,6.797807,10.757196,26.833539,7.335892,26.833539,3.541853,3.854492,...,0.965104,0.000096,16.069588,5.326150,93.121809,11.362648,203.0,16.658073,Queretaro,"POLYGON ((-100.37819 20.65126, -100.37694 20.6..."
1,894983dabbbffff,4.471463,4.366538,4.471463,3.989334,23.797342,15.376236,21.971074,23.797342,12.393523,...,0.965672,0.042202,14.265496,6.472168,51.314385,11.310431,969.0,79.499588,Queretaro,"POLYGON ((-100.45733 20.51881, -100.45609 20.5..."

In [4]:
prox_all.city.unique()

array(['Queretaro', 'Puebla', 'Morelia', 'Merida', 'Leon', 'Hermosillo',
       'Chihuahua', 'Aguascalientes', 'Monterrey', 'Guadalajara'],
      dtype=object)

In [5]:
city = 'Tijuana'

prox_city = gpd.read_file("../../data/external/temporal_fromjupyter/proximityanalysis_hexres9_{}.gpkg".format(city.lower(),))

print(prox_city.shape)
prox_city.head(2)

(3293, 41)

,hex_id_9,max_escuelas,max_preescolar,max_primaria,max_secundaria,max_servicios comunitarios,max_salud,max_guarderías,max_asistencia social,max_comercio,...,idx_actividad física,idx_cultural,mean_time,median_time,max_time,idx_sum,pobtot,dens_pobha,city,geometry
0,8929a4d46b3ffff,14.379072,14.379072,8.117601,11.802678,7.468288,6.660333,7.468288,2.857376,6.799221,...,0.974629,0.018532,11.876293,6.729777,57.09943,12.087160,412.0,33.860130,Tijuana,"POLYGON ((-117.04871 32.40195, -117.04758 32.4..."
1,8929a4c2c9bffff,11.272438,11.272438,9.703400,10.331604,75.658170,12.006877,42.503726,75.658170,8.341396,...,0.917411,0.000362,24.307346,10.802021,84.08856,9.716978,1590.0,130.615575,Tijuana,"POLYGON ((-116.96665 32.45729, -116.96551 32.4..."

In [6]:
dfs = [prox_city,prox_all]
prox = pd.concat(dfs)

print(prox.shape)
prox.head(2)

(37354, 41)

,hex_id_9,max_escuelas,max_preescolar,max_primaria,max_secundaria,max_servicios comunitarios,max_salud,max_guarderías,max_asistencia social,max_comercio,...,idx_actividad física,idx_cultural,mean_time,median_time,max_time,idx_sum,pobtot,dens_pobha,city,geometry
0,8929a4d46b3ffff,14.379072,14.379072,8.117601,11.802678,7.468288,6.660333,7.468288,2.857376,6.799221,...,0.974629,0.018532,11.876293,6.729777,57.09943,12.087160,412.0,33.860130,Tijuana,"POLYGON ((-117.04871 32.40195, -117.04758 32.4..."
1,8929a4c2c9bffff,11.272438,11.272438,9.703400,10.331604,75.658170,12.006877,42.503726,75.658170,8.341396,...,0.917411,0.000362,24.307346,10.802021,84.08856,9.716978,1590.0,130.615575,Tijuana,"POLYGON ((-116.96665 32.45729, -116.96551 32.4..."

In [7]:
prox.city.unique()

array(['Tijuana', 'Queretaro', 'Puebla', 'Morelia', 'Merida', 'Leon',
       'Hermosillo', 'Chihuahua', 'Aguascalientes', 'Monterrey',
       'Guadalajara'], dtype=object)

In [8]:
prox.to_file("../../data/external/temporal_fromjupyter/proximityanalysis_hexres9.gpkg", driver='GPKG', layer='name')

In [14]:
aup.gdf_to_db_slow(prox,"proximityanalysis_hexres9", 'prox_analysis', if_exists='replace')