In [27]:
import os
import sys

import pandas as pd
import geopandas as gpd
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    import aup

In [28]:
errors = pd.DataFrame(columns = ['outside'], index=['01','02','03', '04', '05', '06', '07', '08', '09', '10','11', '12','13','14','15','16','17','18', '19','20','21','22','23','24','25','26','27','28','29','30','31','32'])

In [29]:
for i in range(1,33):
    ####Download states
    edo = format(i, "02d")
    mun_gdf = gpd.GeoDataFrame()
    # Downloads municipality polygon according to code
    query = f"SELECT * FROM marco.mpos_2020 WHERE \"CVE_ENT\" LIKE \'{edo}\'"
    mun_gdf = mun_gdf.append(aup.gdf_from_query(query, geometry_col='geometry'))
    poly_wkt = mun_gdf.dissolve().geometry.to_wkt()[0]
    ### Read schools
    df = pd.read_csv(f'/home/jovyan/work/data/external/sigade/{edo}-concentrado_escuelas.csv', encoding='ISO-8859-1')
    df.columns= df.columns.str.lower()
    df.columns = df.columns.str.replace(" ", "_")
    print(df.shape)
    df.head(3)
    for column in df.columns[df.dtypes=='object']:
        df[column] = df[column].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
    df.head(3)
    df['x'] = df['ubicaciã³n_de_la_escuela-localidad_al_oeste_del_meridiano_de_greenwich,_expresada_en_grados']
    df['y'] = df['ubicaciã³n_de_la_escuela-localidad_al_norte_del_ecuador,_expresada_en_grados']
    gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.x, df.y), crs="EPSG:4326" )
    #####Check if within or outside
    mun_poly = mun_gdf.unary_union
    within_mun = gdf[gdf.geometry.within(mun_poly)]
    outside_mun = gdf[~gdf.geometry.within(mun_poly)]
    errors.loc[edo, 'outside'] = len(outside_mun)

(2695, 40)

/opt/conda/lib/python3.9/site-packages/pygeos/predicates.py:896: RuntimeWarning: invalid value encountered in within
  return lib.within(a, b, **kwargs)
/opt/conda/lib/python3.9/site-packages/pygeos/predicates.py:896: RuntimeWarning: invalid value encountered in within
  return lib.within(a, b, **kwargs)

(4941, 40)
(1469, 40)
(2521, 40)
(5766, 40)
(2109, 40)
(21095, 40)
(7695, 40)
(10875, 40)
(7249, 40)
(13151, 40)
(12573, 40)
(9438, 40)
(15868, 40)
(26061, 40)
(14703, 40)
(4410, 40)
(4286, 40)
(8402, 40)
(16184, 40)
(15657, 40)
(4676, 40)
(2919, 40)
(9261, 40)
(7903, 40)
(5259, 40)
(6019, 40)
(7043, 40)
(2451, 40)
(24951, 40)
(4581, 40)
(5584, 40)

In [30]:
errors

   outside
01      48
02       8
03       5
04      46
05       7
07       9
08     255
09      12
10      28
11      14
12      35
13      20
14      35
15      86
16    1006
17      15
18     869
19      13
20     574
21     240
22       4
23     424
24    1095
25       6
26      11
27      11
28      17
29       0
30      86
31      25
32      11
06      20

In [31]:
for i in range(1,33):
    ####Download states
    edo = format(i, "02d")
    mun_gdf = gpd.GeoDataFrame()
    # Downloads municipality polygon according to code
    query = f"SELECT * FROM marco.mpos_2020 WHERE \"CVE_ENT\" LIKE \'{edo}\'"
    mun_gdf = mun_gdf.append(aup.gdf_from_query(query, geometry_col='geometry'))
    poly_wkt = mun_gdf.dissolve().geometry.to_wkt()[0]
    ### Read schools
    df = pd.read_csv(f'/home/jovyan/work/data/external/sigade/{edo}-concentrado_escuelas.csv', encoding='ISO-8859-1')
    df.columns= df.columns.str.lower()
    df.columns = df.columns.str.replace(" ", "_")
    print(df.shape)
    df.head(3)
    for column in df.columns[df.dtypes=='object']:
        df[column] = df[column].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
    df.head(3)
    df['x'] = df['ubicaciã³n_de_la_escuela-localidad_al_oeste_del_meridiano_de_greenwich,_expresada_en_grados']
    df['y'] = df['ubicaciã³n_de_la_escuela-localidad_al_norte_del_ecuador,_expresada_en_grados']
    for idx,row in df.iterrows():
        if df.loc[idx, 'x']>=0:
            df.loc[idx, 'x'] = df.loc[idx, 'x']*-1
    gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.x, df.y), crs="EPSG:4326" )
    #####Check if within or outside
    mun_poly = mun_gdf.unary_union
    within_mun = gdf[gdf.geometry.within(mun_poly)]
    outside_mun = gdf[~gdf.geometry.within(mun_poly)]
    errors.loc[edo, 'outside'] = len(outside_mun)

(2695, 40)

/opt/conda/lib/python3.9/site-packages/pygeos/predicates.py:896: RuntimeWarning: invalid value encountered in within
  return lib.within(a, b, **kwargs)
/opt/conda/lib/python3.9/site-packages/pygeos/predicates.py:896: RuntimeWarning: invalid value encountered in within
  return lib.within(a, b, **kwargs)

(4941, 40)
(1469, 40)
(2521, 40)
(5766, 40)
(2109, 40)
(21095, 40)
(7695, 40)
(10875, 40)
(7249, 40)
(13151, 40)
(12573, 40)
(9438, 40)
(15868, 40)
(26061, 40)
(14703, 40)
(4410, 40)
(4286, 40)
(8402, 40)
(16184, 40)
(15657, 40)
(4676, 40)
(2919, 40)
(9261, 40)
(7903, 40)
(5259, 40)
(6019, 40)
(7043, 40)
(2451, 40)
(24951, 40)
(4581, 40)
(5584, 40)

In [32]:
errors

   outside
01      48
02       8
03       5
04      46
05       7
07       9
08     255
09      12
10      28
11      13
12      33
13      20
14      34
15      79
16     986
17      15
18     869
19      13
20     574
21     240
22       4
23     424
24    1095
25       6
26      11
27      11
28      17
29       0
30      86
31      25
32      11
06      20

In [33]:
errors.sum()

outside    5004
dtype: object

In [34]:
outside_mun

,ï»¿clave_del_centro_de_trabajo,clave_del_turno,nombre_del_turno,nombre_del_centro_de_trabajo,tipo_educativo,nivel_educativo,servicio_educativo,nombre_del_control_(pãºblico_o_privado),tipo_de_sostenimiento,clave_de_la_entidad_federativa,...,aulas_en_uso,aulas_existentes,"tipo_de_localidad_u_-_urbano,_r_-_rural","ubicaciã³n_de_la_escuela-localidad_al_oeste_del_meridiano_de_greenwich,_expresada_en_grados,_minutos_y_segundos","ubicaciã³n_de_la_escuela-localidad_al_norte_del_ecuador,_expresada_en_grados,_minutos_y_segundos","ubicaciã³n_de_la_escuela-localidad_al_oeste_del_meridiano_de_greenwich,_expresada_en_grados","ubicaciã³n_de_la_escuela-localidad_al_norte_del_ecuador,_expresada_en_grados",x,y,geometry
746,32KPR0986M,1,MATUTINO,CURSOS COMUNITARIOS,BASICA,PRIMARIA,COMUNITARIO,PABLICO,FEDERAL,32,...,0.0,0.0,NaN,102:23:4.61 W,22:16:51.11 N,-102.384613,22.280864,-102.384613,22.280864,POINT (-102.38461 22.28086)
1196,32KJN0780D,1,MATUTINO,PREESCOLAR COMUNITARIO,BASICA,INICIAL GENERAL,INICIAL INDIGENA,PABLICO,FEDERAL,32,...,0.0,0.0,NaN,102:23:4.61 W,22:16:51.11 N,-102.384613,22.280864,-102.384613,22.280864,POINT (-102.38461 22.28086)
3097,32ETV0301J,1,MATUTINO,FRANCISCO JAVIER ROCHA CANDELAS,BASICA,SECUNDARIA,TELESECUNDARIA,PABLICO,FEDERAL TRANSFERIDO-ESTATAL,32,...,1.0,1.0,NaN,101:48:17.93 W,21:52:55.56 N,-101.804980,21.882100,-101.804980,21.882100,POINT (-101.80498 21.88210)
3864,32DML0014A,1,MATUTINO,JOHN LANGDON DOWN,ESPECIAL,CAM,U.S.A.E.R.,PABLICO,FEDERAL TRANSFERIDO,32,...,2.0,4.0,NaN,102:9:14.57 W,22:20:43.87 N,-102.154048,22.345519,-102.154048,22.345519,POINT (-102.15405 22.34552)
4540,32ETV0088H,1,MATUTINO,PETRA MANZANARES,BASICA,SECUNDARIA,TELESECUNDARIA,PABLICO,FEDERAL TRANSFERIDO-ESTATAL,32,...,1.0,1.0,NaN,101:18:7.88 W,22:23:36.96 N,-101.302190,22.393600,-101.302190,22.393600,POINT (-101.30219 22.39360)
4560,32EJN0759Q,1,MATUTINO,NIAOS HEROES,BASICA,PREESCOLAR,GENERAL,PABLICO,ESTATAL,32,...,1.0,1.0,NaN,102:29:34.80 W,24:35:50.64 N,-102.493000,24.597400,-102.493000,24.597400,POINT (-102.49300 24.59740)
5113,32ETK0026P,1,MATUTINO,TELEBACHILLERATO COMUNITARIO PLANTEL VEINTE DE...,MEDIA SUPERIOR,BACHILLERATO,BACHILLERATO GENERAL,PABLICO,ESTATAL,32,...,NaN,NaN,NaN,103:33:12.77 W,24:25:59.66 N,-103.553548,24.433240,-103.553548,24.433240,POINT (-103.55355 24.43324)
5114,32ETK0026P,2,VESPERTINO,TELEBACHILLERATO COMUNITARIO PLANTEL VEINTE DE...,MEDIA SUPERIOR,BACHILLERATO,BACHILLERATO GENERAL,PABLICO,ESTATAL,32,...,NaN,NaN,NaN,103:33:12.77 W,24:25:59.66 N,-103.553548,24.433240,-103.553548,24.433240,POINT (-103.55355 24.43324)
5253,32PBT0195I,4,DISCONTINUO,INSTITUTO TACNICO DE ESTUDIOS EN COMPUTACIAN E...,CAPACITACIAN,FORMACIAN PARA EL TRABAJO,FORMACIAN PARA EL TRABAJO,PRIVADO,PRIVADO,32,...,NaN,NaN,NaN,102:35:1.25 W,21:22:54.30 N,-102.583680,21.381750,-102.583680,21.381750,POINT (-102.58368 21.38175)
5417,32PSU0043C,4,DISCONTINUO,CENTRO DE CRECIMIENTO HUMANISTA,SUPERIOR,LICENCIATURA,LICENCIATURA UNIVERSITARIA Y TECNOLAGICA,PRIVADO,PRIVADO,32,...,NaN,NaN,NaN,102:16:0.12 W,21:37:59.88 N,-102.266700,21.633300,-102.266700,21.633300,POINT (-102.26670 21.63330)
5515,32PBT0033X,4,DISCONTINUO,INSTITUTO EDUCATIVO USA SCHOOL,CAPACITACIAN,FORMACIAN PARA EL TRABAJO,FORMACIAN PARA EL TRABAJO,PRIVADO,PRIVADO,32,...,NaN,NaN,NaN,102:30:1.31 W,22:4:33.09 N,-102.500363,22.075858,-102.500363,22.075858,POINT (-102.50036 22.07586)