In [2]:
import geopandas as gpd
import pandas as pd
import numpy as np
import os
import sys
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

module_path = os.path.abspath(os.path.join('../../'))
if module_path not in sys.path:
    sys.path.append(module_path)
    import aup
else:
    import aup

# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from imblearn.over_sampling import SMOTE  



# from keras import utils                                   # tools for creating one-hot encoding
# from keras.models import Sequential                       # Type of model we wish to use
# from keras.layers import Dense, Dropout, Activation  
from sklearn.preprocessing import LabelEncoder
# from scikeras.wrappers import KerasClassifier, KerasRegressor
from keras import utils  
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
# from sklearn.pipeline import Pipeline

from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error,confusion_matrix

In [3]:
data_example_d7 = gpd.read_file("Distrito_Zona7.geojson")
data_example_d7.head(4)

     id Area_m2 Area_ha                                           geometry
0  None    None    None  MULTIPOLYGON (((660394.592 2284246.741, 660558...

In [11]:
data_example_d7.columns

Index(['id', 'Area_m2', 'Area_ha', 'geometry'], dtype='object')

In [13]:
data_example_d7.crs

<Projected CRS: EPSG:32613>
Name: WGS 84 / UTM zone 13N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Between 108°W and 102°W, northern hemisphere between equator and 84°N, onshore and offshore. Canada - Northwest Territories (NWT); Nunavut; Saskatchewan. Mexico. United States (USA).
- bounds: (-108.0, 0.0, -102.0, 84.0)
Coordinate Operation:
- name: UTM zone 13N
- method: Transverse Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [5]:
# Unzip "Distrito":
import zipfile
zip_path = "USOS_ZONA_5.zip"

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall()
    print("Archivos extraídos:", zip_ref.namelist())

Archivos extraídos: ['USOS_ZONA_5/USOS_ZONA_5.cpg', 'USOS_ZONA_5/USOS_ZONA_5.dbf', 'USOS_ZONA_5/USOS_ZONA_5.prj', 'USOS_ZONA_5/USOS_ZONA_5.qmd', 'USOS_ZONA_5/USOS_ZONA_5.shp', 'USOS_ZONA_5/USOS_ZONA_5.shx']

In [8]:
d5 = gpd.read_file("USOS_ZONA_5.shp")
d5.head(4)

,gid,id,distrito,shape_leng,shape_area,UNUSO,geometry
0,383802,225938.0,5.0,87.833373,372.671854,Baldio,"POLYGON ((663603.887 2289224.482, 663592.822 2..."
1,383514,465151.0,5.0,156.734778,1505.830715,None,"POLYGON ((661583.201 2289149.452, 661563.62 22..."
2,383647,465323.0,5.0,102.854373,577.067362,Baldio,"POLYGON ((663882.141 2291543.517, 663858.079 2..."
3,383515,465183.0,5.0,389.147415,6545.629993,Comercio,"POLYGON ((663075.532 2287066.125, 663077.287 2..."

In [10]:
d5.columns

Index(['gid', 'id', 'distrito', 'shape_leng', 'shape_area', 'UNUSO',
       'geometry'],
      dtype='object')

In [14]:
# Disolver todos los polígonos en uno solo
distrito_unido = d5.dissolve()

# Calcular área total
distrito_unido['Area_m2'] = distrito_unido.geometry.area
distrito_unido['Area_ha'] = distrito_unido['Area_m2'] / 10000

# Reordenar columnas 
distrito_unido = distrito_unido[['id', 'Area_m2', 'Area_ha', 'geometry']]

# Exportar a GeoJSON
#distrito_unido.to_file("distrito_total.geojson", driver="GeoJSON")

In [15]:
distrito_unido.head()

,id,Area_m2,Area_ha,geometry
0,225938.0,2.537728e+07,2537.727586,"MULTIPOLYGON (((661081.14 2286674.47, 661088.5..."