In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    import aup

/home/edgar/anaconda3/envs/geo_env/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.1-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

In [2]:
nodes = aup.gdf_from_db('nodes_2011','networks')
print(nodes.shape)
nodes.head(2)

(2888916, 23)

,ID,TIPOVIA,TIPO,NUMERO,DERE_TRAN,ADMINISTRA,NUME_CARR,CONDICION,ORIGEN,CALI_REPR,...,LONGITUD,UNIDAD,vertex_pos,vertex_ind,vertex_par,vertex_p_1,distance,angle,geometry,osmid
0,3323880,PRIVADA,N/A,N/A,N/A,N/A,N/A,N/A,BCU,N/A,...,119.84,e22,0,0,0,0,0.000000,197.863721,POINT (-100.45353 20.70727),2660412967523
1,3323880,PRIVADA,N/A,N/A,N/A,N/A,N/A,N/A,BCU,N/A,...,119.84,e22,-1,8,0,8,119.842941,247.230113,POINT (-100.45360 20.70634),2660406967421

In [3]:
nodes.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [4]:
nodes['x'] = nodes.geometry.x
nodes['y'] = nodes.geometry.y

In [5]:
nodes.head(2)

,ID,TIPOVIA,TIPO,NUMERO,DERE_TRAN,ADMINISTRA,NUME_CARR,CONDICION,ORIGEN,CALI_REPR,...,vertex_pos,vertex_ind,vertex_par,vertex_p_1,distance,angle,geometry,osmid,x,y
0,3323880,PRIVADA,N/A,N/A,N/A,N/A,N/A,N/A,BCU,N/A,...,0,0,0,0,0.000000,197.863721,POINT (-100.45353 20.70727),2660412967523,-100.453526,20.707269
1,3323880,PRIVADA,N/A,N/A,N/A,N/A,N/A,N/A,BCU,N/A,...,-1,8,0,8,119.842941,247.230113,POINT (-100.45360 20.70634),2660406967421,-100.453597,20.706343

In [6]:
aup.gdf_to_db_slow(nodes, "nodes_2011", schema='networks', if_exists="replace")